@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
*{
    font-family: "Gloria Hallelujah";
}
div#contenedor{
    width: 1024px;
    margin: 0 auto;
}
div#cabecera{
    background-image: url("../assets/images/hotelBudapest.jpg");
    background-size: 1024px 300px;
    width: 1019px;
    height: 300px;
    opacity: 0.7;
    border-radius: 50px 50px;
    box-shadow: 5px 5px 30px #6D3A49;
    margin: 5px;
}
h1{
    color: white;
    text-align: center;
    padding-top: 150px;
}