div#miForm{

    width: 700px;
    float: left;
    padding: 20px;
    margin: 5px;
    border-radius: 50px 50px;
    box-shadow: 5px 5px 30px #6D3A49;
}
div#chat{
    width: 304px;
    float: left;
    margin: 5px;
    border-radius: 50px 50px;
    box-shadow: 5px 5px 30px #6D3A49;
    background-image: url("../assets/images/chat.png");
    height: 292px;
    background-repeat: no-repeat;
    background-size: 304px 292px;
}
div#mensaje{

    width: 1017px;
    float: right;
    padding: 20px;
    margin: 5px;
    border-radius: 50px 50px;
    box-shadow: 5px 5px 30px #6D3A49;
}
div#fila{
    width: 600px;
    background-color: lightpink;
    box-shadow: 5px 5px 30px #6D3A49;
    border: solid 1px lightpink;
    border-radius: 5px 5px;
    margin: 20px;
    opacity: 0.9;
    padding: 10px;
}
